{% extends 'mailing/index.html' %}
{% block content %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Параметры рассылки</h2>
        <p class="lead">Дата и время первой отправки: {{ object.first_send_at }}</p>
        <p class="lead">Дата и время окончания отправки: {{object.end_send_at}}</p>
        <p class="lead">Статус: {{object.status}}</p>

        <tbody>
        {% for mailing in object_list %}
        <tr>
            <td>{{ mailing.id }}</td>
            <td>{{ mailing.first_send_at }}</td>
            <td>{{ mailing.finish_send_at }}</td>
            <td>{{ mailing.status }}
            {% if mailing. owner == user or is_manager %}
                {% if mailing.status != "completed" %}
                <form action="{% url 'mailing:mailing_stop' mailing.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger btn-sm">Завершить/отключить</button>
                </form>
                {% endif %}
                {% endif %}
            </td>
            <td>{{ mailing.message }}</td>
            <td>

                {% for recipient in mailing.recipients.all %}
                {{ recipient.email }}<br>
                {% endfor %}


            </td>

            <td class="text-end">
                {% if mailing.owner == user %}

                <a class="btn btn-outline-primary" href="{% url 'mailing:mailing_detail' mailing.pk%}">Разослать вручную</a>

                <a class="btn btn-outline-primary" href="{% url 'mailing:mailing_update' mailing.pk%}">Изменить</a>
                <a class="btn btn-outline-danger" href="{% url 'mailing:mailing_delete' mailing.pk%}">Удалить</a>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
        </tbody>
      </div>
    </div>
</div>
{% endblock %}